@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap');
:root{
  --fontsize-p:1.2rem;
  --fontsize-nav:1.6rem;
  --typing-font:3rem;
}
*
{
  margin:0;
  padding: 0;
}
body{
  font-family: 'Raleway';
}
.App
{
  display: inline-block;
  width: 100vw;
  min-height: 100vh;
}
nav
{
  padding:20px;
  background: rgb(166, 189, 189);
  
}
.condiv
{
  padding: 4rem ;
  background-color: #f4f5f9;
}

.projects-section {
  text-align: center;
  padding: 4rem 2rem;
}

.project-image {
  height: 15rem;
  width: 100%;
  object-fit: cover;
}

h1 {
  font-weight: 700;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  grid-gap: 1rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 3rem;
}


.project {
  background: rgb(173, 167, 167);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.code {
  color: rgb(173, 167, 167);
  transition: color 0.3s ease-out;
}

.project:hover .code {
  color: #f4f5f5;
  font-weight: bolder;
}


.project-title {
  font-size: var(--fontsize-p);
  color: black;
}

.hcondiv
{
  padding: 4rem 4rem 1.5rem 4rem ;
  background-color: #f4f5f9;
}

.home
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}
.profilepic
{
  border-radius: 50%;
  width: 400px;
  margin: 10px;
}
.typingeffect
{
  padding-top: 20px;
  font-size: var(--typing-font);
  margin-bottom: 30px;
}
.contact
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

nav ul{
  font-size:var(--fontsize-nav) ;
  text-align: right;
  list-style-type: none;
  text-decoration: none;
  color: white !important;
}
nav ul li
{
  display: inline;
  margin:20px;
}

a
{
  text-decoration: none;
  color: white;
}

.subtopic
{
  margin:10px 10px 30px 10px !important;
}
p{
  font-size: var(--fontsize-p);
}
h1,h2,h3,h4,p{
  margin: 10px;
}
.social
{
  position: absolute;
  margin-top: 20px;
  display: flex;
  bottom: 60px;
}
.social i
{
  padding-right: 30px;
  font-size: 25px;
  color: #9a9b9c;
}
.social i:hover
{
  color: #ffffff;
}
.widecard
{
  border:0px solid #9a9b9c;
  display: flex;
  margin:30px 0px 30px 0px;
}
.widecard:hover
{
  color: #1b1d20;
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.active
{
  font-weight: bolder;
}

@media all and (max-width: 450px) {
  :root {
    --fontsize-nav:1rem;
    --sidebar-flex:0;
    --typing-font:2rem;
  }
  .App
  {
    flex-direction: column;
  }

  .condiv
  {
    padding: 50px ;
  }
  nav ul
  {
    display: flex;
  }
  nav ul li
  {
    margin: 10px;
  }
  .social
  {
    left:0;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    bottom: 30px;
  }
  .social i
  {
    padding-right: 0px;
  }
}

